body {
  background-color: black;
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: #fff;
}

#nameStart{
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -50%;
  text-align: center;
  display: none;
  padding-bottom: 20px;
}

#clickStart {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  text-align: center;
  display: none;
}

#clickStart h2 {
  transform: translate(0, -50%);
  margin-top: 0;
}

#nameStart h1 {
  transform: translate(0, -50%);
}
.jumbotron {
  background-color: transparent;
  color:#fff;
  letter-spacing: 15px;
  margin-bottom: 20px;
}

i {
  transform: translate(0, 10%);
}

#story {
  position: fixed;
  top: 40%;
  left: 50%;
  border: 5px solid #fff;
  min-height: 324px;
  transform: translate(-50%,0);
  /*display: none;*/
}

#story .col-xs-12 {
  padding: 30px;
  line-height: 40px;
}

#characterSelect {
  position: fixed;
  top: 40%;
  left: 50%;
  min-height: 324px;
  transform: translate(-50%,0);
  display: none;
}

.decision {
  display: none;
  font-size: 36px;
}
.no {
  padding-left: 15px;
}

input {
  background-color: #000;
}

input:focus {
    outline-color: #fff;
}

button {
  background-color: #000;
}

button:hover {
  background-color: #555;
}












.element, .element p {
  display: inline;
  font-size: 36px;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  display: inline-block;
}


@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

::selection {
  background: #3bc4f9; /* WebKit/Blink Browsers */
}
