body {
  background-color: black;
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: #fff;
}

.jumbotron h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

#nameStart{
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -50%;
  text-align: center;
  display: none;
  padding-bottom: 20px;
}

#clickStart {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  text-align: center;
  display: none;
}

#clickStart h2 {
  transform: translate(0, -50%);
  margin-top: 0;
}

#nameStart h1 {
  transform: translate(0, -50%);
}
.jumbotron {
  background-color: transparent;
  color:#fff;
  letter-spacing: 15px;
  margin-bottom: 20px;
}

i {
  transform: translate(0, 10%);
}

.introText {
  position: fixed;
  top: 40%;
  left: 50%;
  min-height: 324px;
  transform: translate(-50%,0);
  display: none;
  font-size: 36px;
}

.box {
  border: 5px solid #fff;
}

#story .col-xs-12 {
  padding: 30px;
  line-height: 40px;
}

input {
  background-color: #000;
}

input:focus {
    outline-color: #fff;
}

button {
  background-color: #000;
  outline-color: #fff;
}

button:hover {
  background-color: #555;
}

#genderImages {
  margin-bottom: 30px;
}

.male, .female {
  margin: 10px 25px;
}

.male {
  width: 50px;
  height: 115px;
  background: url('../img/josh.png') -1518px -423px;
  margin-top: 20px;
}

.female {
  width: 50px;
  height: 130px;
  background: url('../img/misaki.png') -505px -810px
}

.outline {
  border: 2px solid #fff;
  border-radius: 10px;
  display: inline-block;
  height: 160px;
}

.outline:hover {
  background-color: rgba(255,255,255,.2);
  cursor: pointer;
}

#male, #female {
  position: absolute;
  top: 210px;
}

#male {
  margin-left: -30px;
}

#female {
  margin-left: -44px;
}


/*============================ Character Imgs ====================================*/

.josh {
  position: absolute;
  right:200px;
  background-image: url("../img/bigJosh.png");
  display: none;
}
.joshNormal {
  width: 165px;
  height: 385px;
  bottom: 0;
  background-position: -1165px 0;
}

.joshFight {
  width: 215px;
  height: 385px;
  bottom: 0;
  background-position: -335px 0;
}

.joshPhone {
  width: 187px;
  height: 385px;
  bottom: -5px;
  background-position: -815px -390px;
}

.joshBike {
  width: 215px;
  height: 385px;
  bottom: 0;
  background-position: -335px 0;
}

.joshRight {
  background-image: url("../img/joshRight.png");
  width: 165px;
  height: 385px;
  bottom: 0;
  left:200px;
  background-position: -155px -386px;
}


.misaki {
  position: absolute;
  right:200px;
  background-image: url('../img/misakiBig.png');
  display: none;
  bottom: 0;
}

.misakiNormal {
  width: 191px;
  height: 385px;
  background-position: -1077px 0;
}

.misakiPhone {
  width:180px;
  height:385px;
  background-position: -1270px 0;
}

.misakiFight {
  width: 207px;
  height: 385px;
  background-position: -493px 0;
}

.misakiBike {
  width: 220px;
  height: 385px;
  background-position: -280px 0;
  bottom: -3px;
}

.misakiRight {
  position: absolute;
  left: 200px;
  width: 183px;
  height: 385px;
  background-image: url('../img/misakiRight.png');
  background-position: -167px -382px;
}

.otherChar {
  position: absolute;
  left:100px;
  display: none;
}

.harlow {
  width: 225px;
  height: 450px;
  bottom: -35px;
  background-image: url("../img/harlow.png");
  background-position: -210px -450px;
  transform: scale(.85);
}

.harlowCity {
  width: 238px;
  height: 450px;
  bottom: -32px;
  background-position: -433px -450px;
  transform: scale(.85);
}

.bum {
  width: 196px;
  height: 472px;
  bottom: -35px;
  background-image: url("../img/bum.png");
  background-position: 0;
  transform: scale(.85);
}

.bikeGuy {
  width: 290px;
  height: 468px;
  background-position: 0;
  background-image: url("../img/bikeGuy.png");
  transform: scale(.85);
  bottom: -35px;
}

.ai {
  width: 157px;
  height: 376px;
  background-position: -790px -377px;
  background-image: url("../img/ai.png");
  bottom: 0;
  left:200px;
}

.aiConfused {
  background-position: -630px 0;
}

.veganPoser {
  width: 172px;
  height: 377px;
  background-position: 0;
  background-image: url("../img/veganPoser.png");
  bottom: 0;
}

.bouncer {
  width: 480px;
  height: 455px;
  background-position: -86px -945px;
  background-image: url("../img/bouncer.png");
  bottom: 0;
}

.bouncerAttack {
  width: 442px;
  height: 457px;
  background-position: -579px -480px;
  background-image: url("../img/bouncer.png");
  bottom: -2px;
}

.barista {
  width: 257px;
  height: 478px;
  background-position: -249px 0;
  background-image: url("../img/barista.png");
  bottom: -36px;
  transform: scale(.85);
}

.baristaWink {
  width: 249px;
  height: 478px;
  background-position: 0;
  background-image: url("../img/barista.png");
  bottom: -36px;
  transform: scale(.85);
}

.picture {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%,0);
}
/*============================ Backgrounds ====================================*/
.wakeUpTop {
  background: url('../img/bedroom.png');
  background-position:  0;
}

.scene2Top {
  background: url('../img/train.gif');
  background-position:  0;
}

.outsideTop {
  background: url('../img/outside.gif');
  background-position:  0 -800px;
}

.scene3Top {
  background: url('../img/apple.jpg');
  background-position:  0 -500px;
}

.riddle1Top {
  background-color: #000;
  display: none;
}

.scene4Top {
  background: url('../img/trainOutside.gif');
}

.scene4Bottom {
  display: none;
  line-height: 25px;
}

.scene5Top {
  background: url('../img/outside.gif');
  background-position: 0 -800px;
}

.scene6Top {
  background: url('../img/outside.gif');
  background-position: 0 -800px;
}

.scene7Top {
  background: url('../img/city.gif');
  background-position: 0 -1200px;
  display: block;
}

.scene8Top {
  background: url('../img/bar.gif');
  background-position: 0 -500px;
  display: block;
}

.top {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 230px;
  height: 500px;
  padding: 0;
  margin: 0;
}

.storyLine {
  position: fixed;
  top: 60%;
  left: 50%;
  min-height: 324px;
  transform: translate(-50%,0);
  font-size: 36px;
  display: block;
}

.suck {
  position: fixed;
  top: 40%;
  left: 50%;
  min-height: 324px;
  transform: translate(-50%,0);
  font-size: 36px;
  display: block;
}

.notShown {
  display: none;
}

/*============================ Puzzle Styles ====================================*/

#puzzleTwoSubmit, #puzzleOneSubmit, #reactButton {
  background-color: transparent;
  font-size: 20px;
  border-color: cyan;
  border-radius: 50px;
  box-shadow: 2px 2px 2px #fff;
  margin-left: 50px;
}

#puzzleTwoOutput {
  margin-top: 30px;
  margin-left: 50px;
  font-size: 26px;
}

.mid-radio {
  margin-bottom: 30px;
  margin-left: 30px;
  font-size: 30px;
}

.top-radio {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-size: 30px;
}

.riddle1Top {
  padding-bottom: 30px;
}
.radio input{
  visibility: hidden;
}

.radio label:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

input[type="radio"]:checked + label {
  border: 2px solid #fff;
}

#corgi {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.element, .element p {
  display: inline;
  font-size: 36px;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  display: inline-block;
}


@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

::selection {
  background: #3bc4f9; /* WebKit/Blink Browsers */
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
}

/*============================ Hangman Styles ====================================*/

#hangManPuzzle {
  background: url('../img/background.jpg');
  height: 984px;
  width: 1170px;
  border: 5px solid white;
  display: none;
  position: absolute;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hangMan {
  position: relative;
  margin-top: 200px;
  margin-right: 10px;
  left: 0px;
  top: 0px;
}

#bodyPart1 {
  display: none;
  position: relative;
    left: 7px;
    bottom: 502px;
}

#bodyPart2 {
  display: none;
  position: relative;
  left: 55px;
  bottom: 527px;
}

#bodyPart3 {
  display: none;
  position: relative;
    right: 37px;
    bottom: 680px;
}

#bodyPart4 {
  display: none;
  position: relative;
    left: 65px;
    bottom: 827px;
}

#bodyPart5 {
  display: none;
  position: relative;
    right: 34px;
    bottom: 850px;
}

#bodyPart6 {
  display: none;
  position: relative;
  left: 63px;
  bottom: 996px;
}

#playerGuess {
  background-color: white;
  text-align: center;
  border: 3px solid #5bc0de;
  color: black;
  width: 200px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: black;
}

form {
  margin-left: 30px;
  margin-bottom: 30px;
}
.incorrect-answers {
  color: white;
}

.correct-answers {
  display: inline;
}

.underline {
  border-bottom: 2px solid white;
}

.user-answers {
  margin-left: 30px;
  margin-top: 50px;
  padding-top: 20px;
  height: 100px;
  display: inline;
}

.user-answers h2, p {
  margin-left: 30px;
}

.userIncorrect {
  margin-top: 70px;
  margin-left: 30px;
  height: 50px;
}

.incorrectGuess {
  margin-top: 20px;
  position: absolute;
  margin-left: 30px;
  padding-bottom: 30px;
  display: inline;
}

.outputBoxes {
  margin-top: 10px;
}

#hangmanTitle {
  padding-top: 30px;
  margin-left: 30px;
  font-size: 35px;
}
#checkLetter {
max-width: 200px;
}
